.navbar {
	background-color: #d14242;
}

.navbar a {
	color: white !important;
}

.footer {
	height: 165px;
	margin-top: 550px;
	background-color: #d14242;
}

.container-fluid {
	margin-top: 60px;
}

.quiz {
	margin-bottom: 10px;
}
