<!doctype html>
<html lang="en" ng-app>
<head>
	<meta charset="UTF-8">
	<title>Quizd - Home</title>

	<link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
	<header class="navbar navbar-fixed-top">
    <ul class="navbar-nav nav">
        <li>
            <a class="navbar-brand" href="/">MEAN - A Modern Stack</a>
        </li>
        <li>
            <a>big</a>
        </li>
        <li>
            <a>link</a>
        </li>        
        <li>
            <a>here</a>
        </li>
    </ul>
	</header>

	<div ng-view></div>
	<footer></footer>

    <!-- Angular JS -->
    <script type="text/javascript" src="/lib/angular/angular.min.js"></script>
    <script type="text/javascript" src="/lib/angular-cookies/angular-cookies.min.js"></script>
    <script type="text/javascript" src="/lib/angular-resource/angular-resource.min.js"></script>
    <script type="text/javascript" src="/lib/angular-ui-router/release/angular-ui-router.js"></script>

    <!-- Angular UI -->
    <script type="text/javascript" src="/lib/angular-bootstrap/ui-bootstrap.js"></script>
    <script type="text/javascript" src="/lib/angular-bootstrap/ui-bootstrap-tpls.js"></script>

    <!-- Application Init -->
    <script type="text/javascript" src="/js/app.js"></script>
</body>
</html>